
/*@group general styles
--------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	width: 100%;
	background-color: #ccc;
}
body, html, #main {
 /* important */
 height: 100%;
}
/*@group helper styles
--------------------------------------------------------------------------*/
.clear:after {
	content: "";
	display: block; 
	height: 0;
	width: 100%;
}

/*@group page structure
--------------------------------------------------------------------------*/
header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
/*导航区域*/
nav{
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	/*position: fixed;*/
}

/*logo区*/
#logo{
	float: left;
	height: 40px;
	background-color: transparent;
	margin-left: 30px;
	
}
#logo img {
	display: inline-block;
	height: 100%;
	margin: 0 10px;
}

nav ul {
	float: right;
	margin-right: 30px;
}
nav ul li {
	line-height: 40px;
	display: inline-block;
	width: 50px;
	margin: auto 10px;

}
nav a {
	color: white;
	text-decoration: none;
}
nav a:hover {
	color: rgba(255,255,255,0.5);
}
nav ul li:hover {
	line-height: 40px;
	display: inline-block;
	width: 50px;
	margin: auto 10px;
}

/*内容区域*/
	/*视差滚动布局*/
.cd-fixed-bg {
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
	background-image: url("../img/cd-background-1.jpg");
	background-size: cover;
}
.cd-fixed-bg.cd-bg-2 {
	background-color: #222;
	background-image: url("../img/asfalt-light.png");
	background-repeat: repeat;
	-webkit-box-shadow: 0 8px 10px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 8px 10px rgba(0,0,0,.5);
		-ms-box-shadow: 0 8px 10px rgba(0,0,0,.5);
		 -o-box-shadow: 0 8px 10px rgba(0,0,0,.5);
	        box-shadow: 0 8px 10px rgba(0,0,0,.5); 
}
.cd-fixed-bg.cd-bg-3 {
	background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
	background-image: url("../img/cd-background-4.jpg");
}
 
.cd-scrolling-bg {
	min-height: 100%;
}
/*@group page components
--------------------------------------------------------------------------*/
/*第一页内容*/
.cd-bg-1 {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center; 
}
.cd-bg-1 #container{
	-webkit-filter: blur(0);
	width: 500px;

}
.head-pic-box {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	overflow: hidden;
	margin: 20px auto;
}
.head-pic {
	width: 100%;
	height: 100%;

}
#intro {
	box-sizing: border-box;
	padding: 20px;
	min-width: 400px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	box-shadow: 3px 3px 10px;
}
.cd-bg-1 h2 {
	color: #000;
	text-align: center;
	margin: 20px 20px;
}
.cd-bg-1 p {

}

/*第二页内容*/
.cd-color-1 {
	background-color: #fff;
	position: relative;
	overflow:hidden;
	-webkit-box-shadow: 0 -5px 8px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 -5px 8px rgba(0,0,0,.5);
		-ms-box-shadow: 0 -5px 8px rgba(0,0,0,.5);
		 -o-box-shadow: 0 -5px 8px rgba(0,0,0,.5);
	        box-shadow: 0 -5px 8px rgba(0,0,0,.5); 
}
.wrap{
	width:30%;
	height:600px;
	position:absolute;
	top:50%;
	right: 0;
	margin-top:-300px;
	background-color:#fff;
	/*overflow:hidden;*/
	-webkit-perspective:800px;
	   -moz-perspective:800px;
		-ms-perspective:800px;
		 -o-perspective:800px;
			perspective:800px;
}
.photo{
	width:260px;
	height:320px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-160px 0 0 -130px;/* 优化样式 */
	z-index:1;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.01);
	   -moz-box-shadow: 0 0 1px rgba(0,0,0,.01);
		-ms-box-shadow: 0 0 1px rgba(0,0,0,.01);
		 -o-box-shadow: 0 0 1px rgba(0,0,0,.01);
	        box-shadow: 0 0 1px rgba(0,0,0,.01);
	-webkit-transition:all .6s;
	   -moz-transition:all .6s;
		-ms-transition:all .6s;
		 -o-transition:all .6s;
			transition:all .6s;
}
.photo .side{
	width:100%;
	height:100%;
	background-color:#eee;
	position:absolute;top:0;right:0;
	padding:20px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		 -o-box-sizing:border-box;
			box-sizing:border-box;		
}
.photo .side-front{}
.photo .side-front .image{
	width:100%;
	height:250px;
	line-height:250px;
	overflow:hidden;
}
.photo .side-front .image img{width:100%;}
.photo .side-front .caption{
	text-align:center;
	font-size:16px;
	line-height:50px;
}
.photo .side-back{}
.photo .side-back .desc{
	color:#666;
	font-size:14px;
	line-height:1.5em;
	word-wrap:break-word;
}
/* 当前选中海报样式 */
.photo_center{
	top:50%;left:50%;
	margin:-160px 0 0 -130px;
	z-index:999;
}
/* 负责翻转 */
.photo-wrap{
	position:absolute;
	width:100%;
	height:100%;
	-webkit-transform-style:preserve-3d;
	   -moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		 -o-transform-style:preserve-3d;
			transform-style:preserve-3d;
	-webkit-transform-origin:0% 50%;/* 优化样式 */
	   -moz-transform-origin:0% 50%;
		-ms-transform-origin:0% 50%;
		 -o-transform-origin:0% 50%;
			transform-origin:0% 50%;
	-webkit-transition:all .6s ease-in-out;
	   -moz-transition:all .6s ease-in-out;
		-ms-transition:all .6s ease-in-out;
		 -o-transition:all .6s ease-in-out;
			transition:all .6s ease-in-out;
}

.photo-wrap .side-front{
	-webkit-transform:rotateY(0deg);
	   -moz-transform:rotateY(0deg);
		-ms-transform:rotateY(0deg);
		 -o-transform:rotateY(0deg);
			transform:rotateY(0deg); 	
}
.photo-wrap .side-back{
	-webkit-transform:rotateY(180deg);
	   -moz-transform:rotateY(180deg);
		-ms-transform:rotateY(180deg);
		 -o-transform:rotateY(180deg);
			transform:rotateY(180deg);
}
.photo-wrap .side{		
	-webkit-backface-visibility:hidden;	
	   -moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		 -o-backface-visibility:hidden;
			backface-visibility:hidden;
}
.photo_front .photo-wrap{
	-webkit-transform:translate(0px, 0px) rotateY(0deg);
	   -moz-transform:translate(0px, 0px) rotateY(0deg);
		-ms-transform:translate(0px, 0px) rotateY(0deg);
		 -o-transform:translate(0px, 0px) rotateY(0deg);
			transform:translate(0px, 0px) rotateY(0deg);
}
.photo_back .photo-wrap{
	-webkit-transform:translate(260px, 0px) rotateY(180deg);
	   -moz-transform:translate(260px, 0px) rotateY(180deg);
		-ms-transform:translate(260px, 0px) rotateY(180deg);
		 -o-transform:translate(260px, 0px) rotateY(180deg);
			transform:translate(260px, 0px) rotateY(180deg);
}
/* 控制按钮的样式 */
.wrap .nav{
	width:100%;
	height:30px;
	line-height:30px;
	position:absolute;
	left:0;
	bottom:-120px;
	z-index:998;
	text-align:center;
}
.wrap .nav .i{
	width:30px;
	height:30px;
	display:inline-block;
	cursor:pointer;
	text-align:center;
	background-color:#aaa;
	position:relative;
	border-radius:50%;
	-webkit-transform:scale(.4);
	   -moz-transform:scale(.4);
		-ms-transform:scale(.4);
		 -o-transform:scale(.4);
			transform:scale(.4);
	-webkit-transition:all .6s;
	   -moz-transition:all .6s;
		-ms-transition:all .6s;
		 -o-transition:all .6s;
			transition:all .6s;
}
.wrap .nav .i:after{
	content:"翻";
	font-size:1.6em;
	text-align:center;
	color:#FFF;
	line-height:30px;
	width:30px;
	height:30px;
	position:absolute;left:0;top:0;
	opacity:0;
}
.wrap .nav .i_current{
	-webkit-transform:scale(1);
	   -moz-transform:scale(1);
		-ms-transform:scale(1);
		 -o-transform:scale(1);
			transform:scale(1);
}
.wrap .nav .i_current:after{opacity:1;}
.wrap.nav .i_back{
	background-color:#555;
	-webkit-transform:rotateY(180deg);
	   -moz-transform:rotateY(180deg);
		-ms-transform:rotateY(180deg);
		 -o-transform:rotateY(180deg);
			transform:rotateY(180deg);
}
.cd-color-1 article {
	display: block;
	height: 100%;
	box-sizing: border-box;
	padding: 100px;
	width: 50%;
	float: left;
}
.cd-color-1 article h2 {
	font-size: 50px;
	margin: 25px 0;
}
.cd-color-1 article p {
	font-size: 20px;
	line-height: 20px;
	margin-top: 40px;
}
/*第三页内容*/
.cd-bg-2 {
	display: block;
	height: 100%;
}
.cd-bg-2 article {
	float: right;
	display: block;
	width: 50%;
	box-sizing: border-box;
	padding: 100px;
	color: #fff;
}
.cd-bg-2 article h2 {
	font-size: 50px;
	margin: 25px 0;
	color: #fff;
}
.cd-bg-2 article p {
	font-size: 30px;
	line-height: 30px;
	margin-top: 40px;
	padding: 50px;
}
.cd-bg-2 .img-box {
	position: relative;
	float: left;
	display: block;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
}
.cd-bg-2 .img-group {
	height: 380px;
	width: 720px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -360px;
	box-sizing: border-box;

}
.img-group img {
	display: block;
	float: left;
	width: 200px;
	height: 150px;
	margin: 20px 20px;
}
/*@group overrides
--------------------------------------------------------------------------*/


